/* Styles for frames.html */

#frames-collage {
    /* This sets a variable for the spacing inbetween the frames cards and then removes the spacing from the top of the collage using minus margins */
    --frames-collage-vertical-spacing: 3rem;
}

#frames-collage>.row>div {
    margin-bottom: var(--frames-collage-vertical-spacing);
}

#frames-collage h2 {
    /* margin-top: 0.5em; */
    border: solid rgba(0, 0, 0, 0.4);
    border-width: 1px 0;
    padding: 5px 0;
}

.frame-card_img {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    padding: 10px;
}

.frame-card {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;

    transition: transform 0.3s ease;
    font-size: 0.5em;
}

.frame-card_desc {
    display: none;

    font-size: 0.8em;
    margin: auto;
}

.frame-card_desc p {
    font-size: 1.2em;
    padding: 0.3em;
}

.frame-card_desc h3 {
    font-size: 1.5em;
    margin-bottom: 0.7em;
}

.frame-card h2 {
    font-size: 1.8em;
}

.frame-card:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease-out;
    background-color: white;
    padding: 0.3em;
    border: 1px solid pink;
    position: absolute;
    height: fit-content;
    
    display: flex;
    z-index: 100;
}

.frame-card:hover .frame-card_desc{
    display: flex;
    flex-direction: column;
}

#frames-collage > .row {
    max-width: 90vw;
    margin: auto;
    position: relative;
}

#frames-collage > .row > div {
    justify-content: center;
    display: flex;
}

#frames-collage .frame-card:last-child:hover {
    position: relative;
}

/* Frames Media Queries */

@media screen and (min-width:576px) {
    #frames-collage {
        --frames-collage-vertical-spacing: 5rem;
    }

    .frame-card {
        font-size: 0.7em;
    }

    #frames-collage .frame-card:last-child:hover {
        position: absolute;
    }
}