/* Styles for index.html */

/* Add-ons included */

#add-ons-included ul {
    padding: 10px 0;
    list-style: none;
}

#add-ons-included ul>li {
    margin-bottom: 10px;
}

/* ! Add-ons included */

/* Frame spotlight */

/* ! Frame spotlight */