/* Styles for index.html */

/* Add-ons included */

#add-ons-included ul {
    padding: 10px 0;
    list-style: none;
}

#add-ons-included ul>li {
    margin-bottom: 10px;
}

/* ! Add-ons included */

/* Frame spotlight */

#frame-spotlight,
#frame-spotlight>.carousel-inner {
    width: 100%;
    max-width: 400px;
}

#frame-spotlight .carousel-item {
    /* Creates an aspect ratio of 5/3, code from stackoverflow post [https://stackoverflow.com/questions/10062811/can-i-set-the-height-of-a-div-based-on-a-percentage-based-width] */
    padding-bottom: 60%;
    box-sizing: border-box;
}

#frame-spotlight img {
    /* 2nd part in creating an aspect ratio of 5/3 [https://stackoverflow.com/questions/10062811/can-i-set-the-height-of-a-div-based-on-a-percentage-based-width] */
    position: absolute;
    width: 100%;

    /* Center image */
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    margin: auto;
}

#frame-spotlight {
    margin: auto;
    margin-bottom: 1.5em;
}

#frame-spotlight .carousel-control>span {
    padding: 1em;
}

/* ! Frame spotlight */