/* Styles for index.html */

/* Add-ons included */

#add-ons-included ul {
    padding: 10px 0;
    list-style: none;
}

#add-ons-included ul>li {
    margin-bottom: 10px;
}

/* ! Add-ons included */

/* Frame spotlight */

#frame-spotlight,
#frame-spotlight>.carousel-inner {
    width: 400px;
    height: 250px;
}

#frame-spotlight img {
    width: 100%;
    height: auto;
}

#frame-spotlight {
    margin: auto;
    margin-bottom: 1.5em;
}

#frame-spotlight .carousel-control >span {
    padding: 1em;
}

/* ! Frame spotlight */