/* html {
    font-size:14px;
}

@media screen and (min-width:768px){
    html {
        font-size: 15px;
    }
}

@media screen and (min-width:992px){
    html {
        font-size: 16px;
    }
} */

body {
    --body-bg-colour: #fff1f1;

    font-family: 'Lora';
    background-color: var(--body-bg-colour);
    /* font-size: calc(0.65rem + .75vw); */
}

/* All header sizes I'm expecting to use currently set to default overriding bootstrap (also using rem instead of em)*/
/* h1 {
    --h1-default-size: 1.8rem;
    font-size: var(--h1-default-size);
}

h2 {
    font-size: 1.35rem;
}
*/
h3 {
    font-size: calc(1.2rem + .6vw);
}

/* Apply to div as a base class for creating a background image */
.bg-img {
    background-color: rgb(255, 247, 248);
    position: absolute;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Nav */

nav {
    border-bottom: 2px solid rgba(207, 162, 169, 0.5);
}

.navbar {
    min-height: 11vh;
}

nav .navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-item {
    /* Makes it so that the .nav-link items border-left height will be relative to height of .nav-item */
    position: relative;
}

/* Nav items */

.navbar-nav .nav-item:not(:first-child)::after {
    /* Add the border left to nav-items */
    /* Reminded myself how to use ":before" to make a line using w3docs [https://www.w3docs.com/snippets/css/how-to-add-lines-before-and-after-heading-text.html#:~:text=We%20will%20add%20a%20line,line%20according%20to%20your%20text.] */

    --nav-item_border-left-height: 40%;

    /* Sets border height to variable */
    height: var(--nav-item_border-left-height);

    /* Works out how to center it by diving the avaible space by 2 */
    top: calc((100% - var(--nav-item_border-left-height))/2);

    content: "";
    position: absolute;
    border-left: 1px solid black;
}

.navbar-nav>.nav-item>.nav-link {
    padding: 3px 8px;
    margin: 0 5px;

    color: rgba(0, 0, 0, 0.8);
    min-width: 70px;
    text-align: center;
}

.navbar-nav>.nav-item>.nav-link.active {
    background-color: rgba(255, 255, 255, 0.35);
    box-shadow: 100px #ffff;
    color: black;
}

/* Nav dropdown menu */
.dropdown-menu {
    right: 0;
    margin: auto;
    border-top: none;
    border: none;
    background-color: #fff6f7;
    /* box-shadow: 0px 0px 7px #c4a4a4; */
    border-top: 5px solid transparent;
    border-radius: 0;
}

.dropdown-menu[data-bs-popper] {
    left: initial;
}

.dropdown-item:hover {
    background-color: #e1b6d250;
}

.dropdown-menu.show {
    margin-top: 0;
}

/* Make nav dropdown appear on hover [https://bootstrap-menu.com/detail-basic-hover.html] */
/* I modified this so it detects whether the device pointer can hover (essentially it will be: true if has mouse [and therefore can hover], false if has touchscreen) [https://css-irl.info/detecting-hover-capable-devices/] */
@media (hover: hover) {
    .navbar .nav-item .dropdown-menu:not(.show) {
        display: none;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar-nav>.nav-item>.nav-link:hover, .navbar-nav>.nav-item>.nav-link.show--hover {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 0px 7px #ffff;
        color: black;
    }
}

    .navbar-nav>.nav-item>.nav-link.show {
            background-color: rgba(255, 255, 255, 0.5);
            box-shadow: 0px 0px 7px #ffff;
            color: black;
    }


/* ! Nav dropdown menu */

/* ! Nav items */

hr.seperator {
    height: 4px;
    margin: 7.5px 0;
}

#homepage-hero {
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;
}

.hero-tag-line_content>p::after {
    content: "\2713";
    position: absolute;
    margin-left: 6px;
}

.hero-tag-line_content>p {
    /* Forces the tag line words to wrap early because tick is made position absolute which affects the centering of text */
    /* I've done this by setting word-spacing to 100% of the viewport width */
    word-spacing: 100vw;
    font-size: 1.1rem;
    margin: 0;
}

@media screen and (min-width:440px) {
    .hero-tag-line_content>p {
        font-size: 1.3rem;
    }
}

@media screen and (min-width:600px) {
    .hero-tag-line_content>p {
        /* Forces the tag line words to wrap early because tick is made position absolute which affects the centering of text */
        /* I've done this by setting word-spacing to 100% of the viewport width */
        word-spacing: initial;
        font-size: 1.3rem;
    }

    .hero-tag-line_content>p::after {
        position: initial;
        margin-left: 8px;
    }
}

.hero-tag-line {
    margin: 0 auto;
    margin-bottom: -10px;
    width: 100%;
    max-width: 44.6rem;
}

.hero-tag-line_content {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

header {
    position: relative;
    font-family: 'Assistant';
    font-weight: 500;
}

.bg-img--nav {
    background-image: url(../images/crystal-bg.png);
    background-position-y: 47%;
    opacity: 0.65;
}

/* ! Nav */

/* Hero */

#homepage-hero-container {
    padding: 0;
}

.hero-image-container {
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.hero-image {
    height: 100%;
    width: auto;
}

.section-container {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: relative;
    overflow: hidden;
}

.section-container:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -20px;
    bottom: -20px;
    left: 0;
    right: 0px;
    background: url(../images/crystal-bg.png) fixed no-repeat;
    background-size: cover;
    opacity: 0.15;
    box-shadow: inset 0 0 30px 40px var(--body-bg-colour);
}

/* Keeps the homepage-hero's eye centered as the device width gets smaller */
@media screen and (max-width:670px) {
    #homepage-hero img {
        margin-left: 120px;
    }
}

/* ! Hero */

/* Main sections */

.section-header {
    margin-bottom: 1.5rem;
    position: relative;
}

.section-header::before{
    content:"";
    position: absolute;
    bottom: -15px;
    left: 40%;
    right: 40%;
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0 8px 6px -6px black;
   -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
}

/* Add-ons included */

p.diagram_description {
    margin-bottom: 0;
    margin-top: 0.9em;
}

.diagram_img-container {
    overflow: hidden;
    width: 90%;
    margin: 1.2em auto;
}

.diagram_img-container>img {
    width: 100%;
}

.diagram_img-container--rounded {
    border-radius: 30%;
}

.diagram_title {
    font-size: 1.1em;
    text-transform: capitalize;
}

.diagram {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    justify-content: flex-end;
}

#add-ons-included ul {
    margin: 35px 0;
    list-style: none;
}

#add-ons-included ul>li {
    margin-bottom: 10px;
}

@media screen and (min-width:600px) {
    .diagram_img-container {
        width: 75%;
    }
}

/* ! Add-ons included */

/* More add-ons */

article#more-add-ons section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#more-add-ons .diagram {
    min-height: 271px;
}

/* ! More add-ons */

/* Main sections */

/* Footer */

.page-footer {
    height: 25vh;
    position: relative;
    overflow: hidden;
}

.bg-img--footer {
    background: url(../images/crystal-bg.png) no-repeat right top;
    background-size: cover;
    transform: scaleY(-1);
    background-position-y: 96%;
    opacity: 0.75;
    background-attachment: fixed;
}

footer>.footer_container {
    min-height: 100%;
    position: relative;
}

.footer_inner-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 15px;
    BACKGROUND-COLOR: rgba(255, 255, 255, 0.632);
}

/* ! Footer */