/* Bootstrap breakpoints

small - 576px;
medium - 768px;
large - 992px;
xlarge - 1200px;

*/

:root {
    /* Height variables */

    --page-header-height: 15vh;
    --navbar-min-height: 5.5rem;
    --section-vertical-margins: 1rem;

    /* End of Height variables */

    /* Colours */

    --body-bg-colour: #fdf3f3;

    /* End of Colours */
}

body {
    font-family: 'Lora', serif;
    background-color: var(--body-bg-colour);
    font-size: calc(0.60rem + .5vw + 0.5vh);

    /* If there isn't enough content, there is whitespace below the footer. 
    Middle section grows to fill that space using flexbox. */
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

/* Headings */

h4 {
    margin-bottom: 1rem;
}

h3 {
    text-transform: capitalize;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
}

.page-header {
    height: var(--page-header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    text-align: center;
}

.section-header {
    margin: 1rem 1.5rem;
    margin-bottom: 2rem;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    border-bottom: 1px solid #9a23ad4f;
    padding-top: 0.8rem;
    padding-bottom: 1.5rem;
}

/* Headings Media Queries */

@media screen and (min-width:992px) {
    .section-header {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
}

@media screen and (min-width:576px) {
    body {
        --page-header-height: 24vh;
    }

    .page-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2vh;
    }
}

/* End of Headings */

.btn-primary {
    color: #000;
    background-color: #ffbee1;
    border-color: #ff9cd1;
}

.btn-primary:hover {
    background-color: #fcd7eb;
    border-color: #ff9cd1;
    color: black;
}

/* Background images */

.bg-img {
    /*Apply to div as a base class for creating a background image */
    background-color: rgb(255, 247, 248);
    position: absolute;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bg-img--nav {
    background-image: url(../images/crystal-bg.webp);
    background-position-y: 47%;
    opacity: 0.55;
}

.bg-img--footer {
    background: url(../images/crystal-bg.webp) no-repeat right top;
    background-size: cover;
    transform: scaleY(-1);
    background-position-y: 96%;
    opacity: 0.65;
    background-attachment: fixed;
}

/* End of Background images */

address a {
    /* Styling for links contained in address block (for example, "tel:" and "mailto:" links) */
    text-decoration: none;
    color: black;
}

/* Nav */

nav {
    border-bottom: 2px solid rgba(207, 162, 169, 0.5);
}

.navbar {
    min-height: var(--navbar-min-height);
}

@media screen and (min-height:1100px) and (max-aspect-ratio:5/3) {
    body {
        /* Shrink navbar height if on device such as an iPad Air */
        --navbar-min-height: 8vh;
    }

    .hero_tag-line .seperator {
        height: 7px;
    }
}

nav .navbar-nav {
    margin-left: auto;
}

/* Nav items */

.navbar-nav .nav-item {
    /* Makes it so that the .nav-link items border-left height will be relative to height of .nav-item */
    position: relative;
}

.navbar-brand>img {
    height: auto;
}

.navbar-brand {
    max-width: calc(25vw + 10vh);
}

.navbar-nav>.nav-item>.nav-link {
    padding: 3px 8px;
    margin: 0 5px;

    color: rgba(0, 0, 0, 0.8);
    min-width: 70px;
    text-align: center;
    border-radius: 3px;
}

.navbar-nav>.nav-item>.nav-link.active {
    background-color: rgba(255, 255, 255, 0.35);
    color: black;
}

/* Nav dropdown menu */
.dropdown-menu {
    right: 0;
    margin: auto;
    border-top: none;
    border: none;
    background-color: #fff6f7;
    border-top: 5px solid transparent;
    border-radius: 15px;
    text-align: center;
}

.dropdown-menu[data-bs-popper] {
    left: initial;
}

.dropdown-item:hover {
    background-color: #fddaf150;
    font-size: 1.02em;
    transition: font-size 0.2s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.navbar-nav>.nav-item>.nav-link.show {
    color: black;
}

/* ! Nav dropdown menu */

/* Nav Media Queries */

@media screen and (min-width:576px) {
    .navbar-nav .nav-item:not(:first-child)::after {
        /* Add the border left to nav-items */
        /* Reminded myself how to use ":before" to make a line using w3docs [https://www.w3docs.com/snippets/css/how-to-add-lines-before-and-after-heading-text.html#:~:text=We%20will%20add%20a%20line,line%20according%20to%20your%20text.] */

        --nav-item_border-left-height: 40%;

        /* Sets border height to variable */
        height: var(--nav-item_border-left-height);

        /* Works out how to center it by diving the avaible space by 2 */
        top: calc((100% - var(--nav-item_border-left-height))/2);

        content: "";
        position: absolute;
        border-left: 1px solid black;
    }

    .navbar-brand {
        max-width: 25vw;
    }
}

@media (hover: hover) {

    /* Make nav dropdown appear on hover [https://bootstrap-menu.com/detail-basic-hover.html] */
    /* I modified this so it detects whether the device pointer can hover (essentially it will be: true if has mouse [and therefore can hover], false if has touchscreen) [https://css-irl.info/detecting-hover-capable-devices/] */
    .navbar .nav-item .dropdown-menu:not(.show) {
        display: none;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
        animation: fadeIn 0.3s;
    }

    .navbar-nav>.nav-item>.nav-link:hover,
    .navbar-nav>.nav-item>.nav-link.show--hover {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 0px 7px #ffff;
        color: black;
        transition: box-shadow 0.1s ease-in-out;
    }
}

@media screen and (max-width:576px) {
    .dropdown-menu {
        background-color: rgba(255, 255, 255, 0.292);
        border: 1px solid white;
        border-left: 0;
        border-right: 0;
    }
}

@media screen and (min-width:576px) {
    .navbar-nav>.nav-item>.nav-link.show {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 0px 7px #ffff;
    }

    .dropdown-menu {
        box-shadow: 0 0 10px 5px rgb(255, 228, 232) inset;
    }
}

/* ! Nav items */

.navbar {
    font-family: 'Assistant', sans-serif;
    font-weight: 500;
}

.navbar-container {
    position: relative;
}

/* ! Nav */

/* Hero */

/* Homepage hero could be used for future pages, therefore, I've included it style.css and added it using classes instead of using ids */

.hero {
    /* Make hero take rest of space left after the navbar */
    height: calc(100vh - var(--navbar-min-height));
    padding: 10px;
}

#homepage-hero {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hero_tag-line_content>p::after {
    content: "\2713";
    position: absolute;
    margin-left: 6px;
}

.hero_tag-line_content>p {
    /* Forces the tag line words to wrap early because tick is made position absolute which affects the centering of text */
    /* I've done this by setting word-spacing to 100% of the viewport width */
    word-spacing: 100vw;
    font-size: 1.05em;
    margin: 0;
}

.hero_tag-line>hr.seperator:last-child {
    margin-bottom: 0;
}

.hero_tag-line {
    margin: 0 auto;
    width: 100%;
}

.hero_tag-line_content {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

.section-container.hero-container {
    padding: 0;
}

.hero_image-container{
    overflow: hidden;
    width: fit-content;
    max-width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.hero-image {
    height: 100%;
    width: auto;
    animation: zoomTiltIn 2s ease-out;
}

/* Hero Media Queries */

@media screen and (min-width:440px) {
    .hero_tag-line_content>p {
        font-size: 1.1em;
    }
}

@media screen and (min-width:600px) {
    .hero_tag-line_content>p {
        /* Forces the tag line words to wrap early because tick is made position absolute which affects the centering of text */
        /* I've done this by setting word-spacing to 100% of the viewport width */
        word-spacing: initial;
        font-size: 1.18em;
    }

    .hero_tag-line_content>p::after {
        position: initial;
        margin-left: 8px;
    }
}

/* Keeps the homepage-hero's eye centered as the device width gets smaller */
@media screen and (max-width:670px) and (min-height:660px) {
    #homepage-hero img {
        margin-left: 120px;
    }
}

@media screen and (min-aspect-ratio:4/3) and (max-height:800px),
(max-height:400px) {

    /* Learnt the aspect-ratio media queries from developer.mozilla [https://developer.mozilla.org/en-US/docs/Web/CSS/@media/aspect-ratio] */
    .hero-image {
        height: auto;
    }

    .hero_image-container {
        width: 100%;
        max-width: 1000px;
        flex-direction: column;
    }

    .hero_tag-line {
        max-width: 1000px;
    }
}

/* ! Hero */

/* Main sections */

.section-container {
    /* Adding horizontal padding here will break bootstrap container */
    padding: 1.2rem 0;
    text-align: center;
    position: relative;
}

.section-container {
    margin-bottom: var(--section-vertical-margin);
}

.section-container:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0px;
    background: url(../images/crystal-bg.webp) fixed no-repeat;
    background-size: cover;
    background-position: right;
    opacity: 0.2;
    box-shadow: inset 0 0 30px 30px var(--body-bg-colour);
}

article>section {
    margin: 0.7rem 0;
}

/* Diagram table styling */

.diagram {
    --diagram-cell-vertical-spacing: 15px;

    border-spacing: 20px 0;
    border-collapse: separate;
    max-width: 100%;
    margin: auto;
}

.diagram td {
    padding-top: var(--diagram-cell-vertical-spacing);
}

.diagram th {
    padding-bottom: var(--diagram-cell-vertical-spacing);
    border-bottom: 1px solid rgba(255, 192, 203, 0.488);
    width: 40vw;
}

.diagram_img-container {
    overflow: hidden;
    width: fit-content;
    margin: auto;
    max-width: 250px
}

.diagram_img-container img {
    max-width: 100%;
    height: auto;
}

.diagram_img-container--rounded {
    border-radius: 30%;
}

.diagram_title {
    font-size: 1.2em;
    text-transform: capitalize;
    line-height: 1.3;

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0.33em;
}

.diagram_description {
    margin-bottom: 0;
    font-size: 0.95em;
}

/* Diagram Media Queries */

@media screen and (min-width:992px) {
    .diagram {
        max-width: 700px;
    }

    .diagram_img-container>img {
        width: 100%;
        height: auto;
    }
}

/* ! Diagram table styling */

/* Main section Media Queries */

@media screen and (min-width:576px) {
    .section-container {
        padding: 2.5rem 10vw;
    }
}

/* ! Main sections */

/* Footer */

.page-footer {
    position: relative;
    overflow: hidden;
}

.page-footer {
    padding: 0.7rem;
}

.page-footer>.footer_container {
    position: relative;
    text-align: center;
    BACKGROUND-COLOR: rgba(255, 255, 255, 0.632);
}

.footer_inner-container {
    max-width: 800px;
    margin: auto;
    flex-wrap: inherit;
}

.page-footer .footer_column {
    padding: 1rem;
    position: relative;
    overflow-wrap: break-word;
}

.page-footer p:last-of-type {
    margin-bottom: 0;
}

.page-footer {
    font-size: 1rem;
}

.page-footer h1 {
    /* Based on what .page-footer font-size is set to */
    font-size: 1.2em;
    font-weight: 600;
}

.page-footer p {
    /* Based on what .page-footer font-size is set to */
    font-size: 1em;
}

/* Social media icons */
.social-icons-container {
    padding-top: 0.6em;
    padding-bottom: 0.2em;
    border-top: 2px solid #00000021;
    margin-top: 0.8em;
}

.social-icons-container a {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.3em;
    margin: 1px;
}

.social-icons-container a:hover {
    color: black;
    transform: scale(1.2);
    transition: font-size 0.2s ease-in;
}

/* Copyright banner */
.footer_copyright {
    padding: 1em 0;
    background-color: #ffffff49;
    position: relative;
}

/* Footer Media Queries */

@media screen and (min-width:576px) {

    /* Footer styling */
    .page-footer {
        font-size: 1rem;
    }

    .footer_inner-container {
        flex-wrap: nowrap;
    }

    /* Adds a border between columns to footer */
    .page-footer .footer_column:not(:first-child):before {
        content: "";
        position: absolute;
        top: 25%;
        bottom: 25%;
        left: 0;

        border-left: 1px dashed rgba(0, 0, 0, 0.3);
    }
}

/* ! Footer */

/* Contact form */

form {
    text-align: left;
    margin: auto;
    margin-bottom: 1.5rem;
    max-width: 650px;
}

form label {
    margin-bottom: 0.2rem;
    text-transform: capitalize;
}

form .form-group {
    margin-bottom: 1rem;
}

form input[type="submit"] {
    margin-top: 0.7em;
}

/* ! Contact form */

/* Information mark (<detail> and <summary>) styles */

.info-mark p {
    margin-bottom: 1.8em;
    margin-top: 1.15em;
    box-shadow: 0px 0px 15px 1px #eca9e08f inset;
    padding: 1.2em;
    border-radius: 10px;
    background-color: #fff0ff;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    border: 1px solid #52065a73;
    /* Much higher index than needed to ensure it's always on top throughout development */
    z-index: 100;
}

.info-mark {
    margin: 0.8em 0;
    position: relative;
}


.info-mark[open] p {
    animation: zoomIn 0.2s;
}

.info-mark--display-center {
    --info-mark-center-width: 80vw;
    position: initial;
}

.info-mark--display-center p {
    width: var(--info-mark-center-width);
    left: calc(50% - var(--info-mark-center-width)/2);
}

.info-mark>summary {
    /* Remove arrow marker next to <summary> [https://stackoverflow.com/questions/6195329/how-can-you-hide-the-arrow-that-is-displayed-by-default-on-the-html5-details-e] */
    list-style: none;
    font-size: 1rem;
}

.info-symbol-container {
    border-radius: 50px;
    padding: 0.3em 0.4em;
    background-color: rgb(158, 77, 164);
    color: white;
    font-weight: 600;
}

/* info-mark Media Queries */

@media screen and (min-width:57px) {
    .info-mark--display-center {
        --info-mark-center-width: 40vw;
    }
}

@media screen and (min-width:800px) {
    .info-mark>summary {
        font-size: 1.4rem;
    }
}

@media (hover:hover) {
    .info-symbol-container:hover {
        transition: all 0.2s ease-in-out;
        filter: brightness(1.3);
    }
}

/* End of Informartion mark styles */

/* Lists */

/* Make list-style bullet points an svg image [https://stackoverflow.com/questions/52347084/positioning-a-svg-icon-as-list-style-image] */
.bullet-list {
    display: inline-block;
    text-align: left;

    /* Eye svg file downloaded from Font Awesome [https://fontawesome.com/icons/eye?f=classic&s=solid] */
    list-style-image: url(../images/icons/eye-solid.svg);
}

.bullet-list li {
    padding-left: 0.4em;
}

.bullet-list li::marker {
    font-size: 1.75em;
}

/* End of Lists */

/* Alerts */

.alert {
    color: black;
    padding: 1.4em;
    margin-bottom: 0.5em;
    margin-top: 2em;
}

.alert>p:last-child {
    margin-bottom: 0;
}

.alert>hr.seperator {
    height: 2px;
    margin: 1em 0;
    background-color: #00000052;
}

.alert--pink {
    background-color: #fff0fdb0;
}

.alert--soft-border {
    box-shadow: 0 0 5px 5px #0000002c inset;
}

/* End of Alerts */

/* Typography */

mark {
    /* Having created this type of highlight before in Webflow, I used a gradient generator to replicate it [https://cssgradient.io/] */
    padding: 0.15em;
    --mark-highlight-colour: rgb(255 199 246);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 19%, var(--mark-highlight-colour) 30%, var(--mark-highlight-colour) 70%, rgba(255, 255, 255, 0) 81%, rgba(255, 255, 255, 0) 100%);
}

mark.mark--blue {
    --mark-highlight-colour: rgb(198, 205, 255);
}

/* End of Typography */

/* Utilities */

.center-x-y {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.video-responsive {
    margin: auto;
    width: 100%;
}

hr.seperator {
    height: 4px;
    margin: 7.5px 0;
}

hr.space-seperator {
    height: 0px;
    margin: 1rem 0;
}

hr.space-seperator--medium {
    margin: 1.5rem 0
}

.container-small {
    padding: 0 10%;
}

/* Utilities Media Queries */

@media screen and (min-width:992px) {
    .container-small {
        padding: 0 20%;
    }
}

/* End of Utitlities */

/* Animation */

/* Used dev.mozilla to figure out keyframes again [https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes] */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes zoomTiltIn {
    from {
        transform: rotate(-5deg) scale(1.3);
    }

    to {
        transform: rotate(0deg) scale(1);
    }
}

/* End of Animation */